# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/build/

# Android Studio artifacts
**/android/app/debug
**/android/app/profile
**/android/app/release

# Web artifacts
**/build/web

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
feira_facil/web/index.html
feira_facil/android/app/google-services.json
feira_facil/pubspec.lock
feira_facil/feira_facil_fixed.zip
WhatsApp Image 2026-04-25 at 15.48.02.jpeg
